body {
    overflow-y: scroll;
    width: 800px;
    margin: 8px auto;
    padding-left: 1em;
    border-left: 1px solid #ccc;
}

main {
    min-height: 20em;
}

footer {
    border-top: 1px solid #ccc;
    min-height: 4em;
    text-align: center;
}

/**
 * Style a dice using UTF-8 characters.
 */

.die-1::after { content: "\2680"; }
.die-2::after { content: "\2681"; }
.die-3::after { content: "\2682"; }
.die-4::after { content: "\2683"; }
.die-5::after { content: "\2684"; }
.die-6::after { content: "\2685"; }
 
 .die {
     font-size: 32px;
 }
