@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    overflow-y: scroll;
    max-width: 800px;
    margin: 8px auto;
    padding-left: 1em;
    /* border-left: 1px solid #ccc; */
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    color: #333;
}

main {
    min-height: 20em;
    border-top: 1px solid #333;
}

.topNav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-size: 1.2rem;
    background-color: #cfcfcf;
    color: #000;
    font-weight: 600;
    padding: 0.5rem;
}

.topNav a {
    text-decoration: none;
}

.topNav a:visited {
    color: #000;
}

footer {
    border-top: 1px solid #ccc;
    min-height: 4em;
    text-align: center;
}

/**
 * Style a dice using UTF-8 characters.
 */

.die-1::after { content: "\2680"; }
.die-2::after { content: "\2681"; }
.die-3::after { content: "\2682"; }
.die-4::after { content: "\2683"; }
.die-5::after { content: "\2684"; }
.die-6::after { content: "\2685"; }
 
 .die {
     font-size: 32px;
 }

/**
 * Style for Yatzy
 */

.yatzy-ul {
    list-style-type: none;
    padding-left: 0;
}

.yatzy-ul ul {
    list-style-type: none;
}

.yatzy-ul li {
    padding-bottom: 0.2rem;
}

.yatzy-ul p {
    font-weight: 600;
}

.bold {
    font-weight: 600;
}